.navbar-nav {
    padding-top: 60px;
    border-radius: 10%;
}
#logo {
    padding-top: 30px;
    border-radius: 10%;
}


.nav {
    background-color:rgb(139, 194, 128);;
    border-radius: 10%;
    text-align: left;
}

.carousel-inner img {
    padding: auto;
    width: 800px;
    height: 500px;
  }
.carousel-item {
    padding: auto;
    width: 800px;
    height: 500px;
}  
.carousel-item active {
    padding: auto;
    width: 800px;
    height: 500px;
}

.Active{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



#footer {
    margin-top: 1px;
    text-align: center;

}
.float-right {
    margin-bottom: 20px;
    text-align: center;
}

.modal-header{
    background-color: rgb(238, 184, 68);
}
.modal-body {
    background-color: rgb(139, 194, 128);
}
.modal-footer {
    background-color: rgb(238, 184, 68);
}

.modal-header1{
    background-color: rgb(238, 184, 68);
}
.modal-body1 {
    background-color: rgb(245, 248, 245) ;
}
.modal-footer1 {
    background-color: rgb(238, 184, 68);
}

.img-fluid {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    height: 10px;
    border-radius: 60%;
}


.card-body {
    text-align-last: center;
}

.btn-mas {
    background-color: rgb(139, 194, 128);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn-menos {
    background-color: red;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;    
}